html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #181a1b;
  color: white;
  }

body {
  display: flex;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#histogram .canvasArea {
  position: relative;
}

  .threshold {
    position: absolute;
    top: 1px;
    height: 100%;
    width: 100%;
  }

  .threshold > div {
    width: calc(100% - 1px) !important;
  }

  .threshold > div:first-child,
  .threshold > div:first-child div {
    height: 100% !important;
  }

  .slider {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
  }
