.main,
.output,
.input,
.histogram {
  display: grid;
}

.main {
  grid-template:
    'in out'
    'histo histo';
  column-gap: 10px;
  width: max-content;
}

.output {
  grid-area: out;
  height: 100%;
}
.output canvas {
  align-self: end;
}

.input { 
  grid-area: in;
}


.histogram {
  grid-area: histo;
  justify-self: end;
}

.canvas {
  border: 1px solid #444;
  /* Make sure the image can fit on screen */
  max-width: 100%;
  max-height: 100vh;
  object-fit: contain;
}
