.main,
.output,
.input,
.histogram {
  display: grid;
}

.main {
  grid-template:
    'btn btn'
    'in out'
    'histo histo';
  column-gap: 10px;
  min-width: 650px;
  width: 50%;
  padding: 20px 0px;
}

.input { 
  grid-area: in;
}

.inputBtn {
  grid-area: btn;
}

.output {
  grid-area: out;
}

.histogram {
  grid-area: histo;
}

.histogram .content {
  display: grid;
  grid-template: 'graph btn';
}


.canvas {
  border: 1px solid #444;
  /* Make sure the image can fit on screen */
  max-width: 100%;
  max-height: 100vh;
  object-fit: contain;
}
